.container-games{
    margin: 3vh;
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    gap: 3%;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}
.selected-game{
    cursor: pointer;
    height: auto;
    width: auto;
    background-color: white;
    padding: 13px;
    border-radius: 15px;
    transition: transform 0.5s, box-shadow 0.2s;
}
.selected-game:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

}

@media(max-width:728px){
    .container-games {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
        gap: 20px;
        padding: 10px;
    }
    
}