.paragraph{
    background: linear-gradient(         /* Padrão W3C (versão final) */
        to right,
        #AF87D6 12%,
        #9854f7 43%,
        #9961e7 100%
    );
    padding: 6vh;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 3vh;
}
#paragraphOne{
    font-size: 1.55rem;
}
#paragraphTwo{
    color: #e5d3ff;
    font-size: 1.09rem;
}

@media(max-width:400px){
    .paragraph{
        padding: 1.2vh;
        font-size: 1.3rem;
        width: 100%;
        margin: 0%;
        margin-top: 1vh;
        
    }
    #paragraphOne{
        font-size: 1.15rem;
    }
    #paragraphTwo{
        color: #e5d3ff;
        font-size: 0.8rem;
    }
    
}