.services-system__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #90c9f6;
    color: #fff;
    margin-top: auto; /* Empurra o rodapé para o final */

}

.footer-icon {
    font-size: 1.5rem;
    color: #000000;
    margin: 0 0.5rem; /* Adiciona margem horizontal para espaçamento */
}
