.ButtonOptions {
    border: 1.5px solid rgb(255, 255, 255);
    
}

@media(max-width: 400px){
    .Img{
        width: 15%;
    }
    .ButtonOptions h1{
        font-size: 15px;
    }
    .ButtonOptions{
        gap: 0px;
        padding: 1.5%;
        width: auto;
        height: 30%;
        font-size: 12px;
     
    }


}