/* ButtonActivities.css */

.container {
    min-height: 100px;
    max-height: 200px;
    height: 100%;
    min-width: 280px;
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* garante que o conteúdo se espalhe melhor */
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box; /* importante para padding não "estourar" o limite */
}
  .container:hover {
      transform: translateY(-5px); /* Lift the button slightly on hover */
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);  /* More pronounced shadow on hover*/
  }
  
  
  /* Style for the image */
  .container img {
    width: 60px;
    height: 60px; 
    display: flex;
    margin: 0 auto ;
    margin-bottom: 15px; /* Space between image and text */
    border-radius: 10px;    /* Optional: Rounded corners for the image */
  }
  
  /* Style for the h1 (title) */
  .container h1 {
      font-size: 1rem; /* Adjust font size as needed */
      font-weight: bold;
      margin-bottom: 10px; /* Space between title and paragraph */
      text-align: center;  /* Center the title */
      color: #333;       /* Dark gray color */
  }
  
  .container p {
    font-size: 0.8rem;
    text-align: center;
    color: #555;
    line-height: 1.4;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
