.main-content {
  background-color: #f9f9f9;
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.top-right-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.input-container-upload label {
  font-size: 25px;
  font-weight: bold;
  color: #444;
}

.input-container-upload input[type="text"] {
  width: 100%;
  padding: 10px 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 14px;
}

.label-file-container {
  margin: 15px 0;
}

.label-file {
  display: inline-block;
  background-color: #ddd;
  color: #333;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 27.5px;
}

.label-file:hover {
  background-color: #ccc;
}

.input-file {
  display: none;
}

.file-name {
  margin-top: 8px;
  color: #555;
  font-size: 14px;
}

.buttons {
  margin: 0% auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.row-aligned-elements {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

#submit-main-content {
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #7c3aed;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

#submit-main-content:hover {
  background-color: #6b21a8;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(59, 130, 246, 0.35);
}

.message {
  margin-top: 20px;
  padding: 12px;
  background-color: #dff0d8;
  border: 1px solid #c3e6cb;
  color: #3c763d;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
}

.hidden {
  display: none;
}

/* Responsividade */

/* Telas médias: tablets */
@media (max-width: 1024px) {
  .top-right-box {
    padding: 25px;
  }

  .input-container-upload label {
    font-size: 22px;
  }

  #submit-main-content {
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }
}

/* Telas pequenas: celulares */
@media (max-width: 600px) {
  .top-right-box {
    width: 130%;
    padding: 0px;
  }

  .input-container-upload label {
    font-size: 20px;
    text-align: center;
  }

  .input-container-upload input[type="text"] {
    font-size: 13px;
  }

  .row-aligned-elements {
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
  }

  .label-file {
    width: 100%;
    text-align: center;
  }

  .file-name {
    text-align: center;
    font-size: 13px;
  }

  #submit-main-content {
    font-size: 18px;
    padding: 8px 15px;

  }
}
